.dino{
    width:60px;
    height:60px;
    background-color: aqua;
    position: absolute;
    bottom:0px;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: tomato;
    bottom: 0px;
  }